<h2 id="dream">My dream</h2>
<div class="grid grid-pad">
  <p id="textMain">
    My biggest dream is space!
    <br>
    <br>
    The sheer vastness of it,
    along with the trillions upon trillions of objects in the many billion
    galaxies of the universe is almost incomprehensible to the human brain.
    <br>
    <br>
    What's not to like?
    <br>
    <br>
    Some of the more direct benefits of space exploration include an increase
    in the knowledge that is out there about space and the discovery of distant
    planets and galaxies, it also gives us insight into the beginnings of our universe.
    <br>
    <br>
    Space is awesome but scary at the same time. Space explorers, big and small, are true heroes.
    <br>
    Space in all it's glory will always be a dream of me!
    <br>
    My biggest dream is space!
    <br>
    The sheer vastness of it,
    along with the trillions upon trillions of objects in the many billion
    galaxies of the universe is almost incomprehensible to the human brain.
    <br>
    What's not to like?
    <br>
    <br>
    Some of the more direct benefits of space exploration include an increase
    in the knowledge that is out there about space and the discovery of distant
    planets and galaxies, it also gives us insight into the beginnings of our universe.
    <br>
    Space is awesome but scary at the same time. Space explorers, big and small, are true heroes.
    And space in all it's glory will always be a dream of me!

    My biggest dream is space!
    <br>
    The sheer vastness of it,
    along with the trillions upon trillions of objects in the many billion
    galaxies of the universe is almost incomprehensible to the human brain.
    <br>
    What's not to like?
    <br>
    <br>
    Some of the more direct benefits of space exploration include an increase
    in the knowledge that is out there about space and the discovery of distant
    planets and galaxies, it also gives us insight into the beginnings of our universe.
    <br>
    Space is awesome but scary at the same time. Space explorers, big and small, are true heroes.
    And space in all it's glory will always be a dream of me!
  </p>

</div>

